<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">GoBite</a>
    <div>
      <a href="/login" class="btn btn-outline-light me-2">Login</a>
      <a href="/register" class="btn btn-warning">Register</a>
    </div>
  </div>
</nav>
